[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/vim-indexed-search"]
	path = .vim/bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule ".vim/bundle/promptline.vim"]
	path = .vim/bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim
